img{
    width: 85px;
    height: 70px;
    float: left;
    margin: 5px;
}

.item-div{
    margin: 1%;
    display: flex;
    border: 1px solid green;
    border-radius: 2px;    
}

.content{
    top: 50%;
    float: left;
}

p, button{
    margin-left: 1%;
}

h5, h6{
    margin-left: 1%;
    margin-top: 1%;
}